.home-root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.home-root h1{
  margin: 1rem;
}
.home-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.home-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.home-info p{
  margin: 1rem 0;
}
.home-info input{
  height: 40px;
  width: 300px;
  padding: 0 2rem;
  font-size: 1.2rem;
  
}