.loading-root{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left: 20px solid red;
  border-top: 20px solid green;
  border-right: 20px solid blue;
  border-bottom: 20px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1590deg);
  }
}